
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-image: 
        linear-gradient(#9ca3af 1px, transparent 1px),
        linear-gradient(90deg, #9ca3af 1px, transparent 1px);
    background-size: 32px 32px;
  }
}

.mono { font-family: 'JetBrains Mono', monospace; }

/* Neubrutalism Shadows */
.hard-shadow {
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
}

.hard-shadow-lg {
  box-shadow: 8px 8px 0px 0px rgba(0,0,0,1);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #ef4444;
  border: 2px solid #000;
}
